/* Reset */
ul {
  margin: 0;
  padding: 0;
}

li {
	float: left;
	list-style: none;
}

a {
	text-decoration: none;
	color: #2a0e00;
}

p {
	color: #2a0e00;
	margin: 0;
}

/* Common */
body {
  font-family: "ヒラギノ角ゴ Pro W3";
  background-image: url(../img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.paper {
  position: relative;
  width: 840px;
  height: 1188px;
  margin: 20px auto;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

/* Header */
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100%);
  height: calc(100% / 8 * 1);
}

.header h1 {
  text-align: center;
  font-size: 22px;
  font-weight: normal;
}

/* Articles */
.articles {
  -webkit-writing-mode: vertical-rl;
}

.articles li {
  overflow: hidden;
  position: absolute;
}

.articles li:hover {
  background: #ccc;
  cursor: move;
}

.articles li h2 {
  line-height: 1em;
  font-size: 20px;
  margin: 10px;
}

.articles li h2.reverse {
  display: inline;
  padding: 3px;
  background: black;
  color: white;
}

.articles li img {
  width: 260px;
}

.articles li p {
  font-size: 15px;
  word-break: break-word;
  width: 100%;
  float: left;
  border-bottom: 1px solid #ccc;
}

.articles li p:last-child {
  border-bottom: none;
}

.articles li:nth-child(1) p { height: calc(100% / 4 - 1px) }
.articles li:nth-child(2) p { height: calc(100% / 5 - 1px) }
.articles li:nth-child(3) p { height: calc(100% / 3 - 1px) }
.articles li:nth-child(4) p { height: calc(100% / 1 - 1px) }
.articles li:nth-child(5) p { height: calc(100% / 1 - 1px) }

.articles li:nth-child(1) {
  left: calc(100% / 7 * 3)!important;
  top: calc(100% / 8 * 1)!important;
  width: calc(100% / 7 * 4);
  height: calc(100% / 8 * 4);
}

.articles li:nth-child(2) {
  left: calc(100% / 7 * 0)!important;
  top: calc(100% / 8 * 1)!important;
  width: calc(100% / 7 * 3);
  height: calc(100% / 8 * 5);
}

.articles li:nth-child(3) {
  left: calc(100% / 7 * 3)!important;
  top: calc(100% / 8 * 5)!important;
  width: calc(100% / 7 * 4);
  height: calc(100% / 8 * 3);
}

.articles li:nth-child(4) {
  left: calc(100% / 7 * 0)!important;
  top: calc(100% / 8 * 6)!important;
  width: calc(100% / 7 * 3);
  height: calc(100% / 8 * 1);
}

.articles li:nth-child(5) {
  left: calc(100% / 7 * 0)!important;
  top: calc(100% / 8 * 7)!important;
  width: calc(100% / 7 * 3);
  height: calc(100% / 8 * 1);
}

/* Editor Modal */
.editorModal {
  display: none;
  z-index: 100;
  width: 600px;
  position: absolute;
  top: 100px;
  left: 100px;
  background: white;
  border: 1px solid black;
  padding: 40px;
}

/* Article Modal */
.articleModal {
  display: none;
  z-index: 100;
  width: 600px;
  position: absolute;
  top: 100px;
  left: 100px;
  background: white;
  border: 1px solid black;
}

/* Overlay */
.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(0,0,0,0.5);
}
