/* Common */
body {
  font-family: "ヒラギノ角ゴ Pro W3";
  background-image: url(../img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.paper {
  margin: 10px auto;
  width: 70%;
  height: auto;
  padding: 20px 10px;
  background-color: #fff;
  position: relative;
}

.articles_area {
  position: relative;
  width: 100%;
  background-color: #fff;
}
.articles_area.by_16_9::before {
  content: "";
  display: block;
  padding-top: 56.25%;    /* 高さと幅の比を16:9に; */
}
.articles_area.by_4_3::before {
  content: "";
  display: block;
  padding-top: 75%;
}
.articles_area .articles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Header */
.header {
  width: 100%;
  height: 70px;
  padding: 0 15px;
  margin: 5px auto;
}
.header h1 {
  text-align: center;
  font-size: 22px;
  font-weight: normal;
}

/* Articles */
.articles {
  height: 0px;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-writing-mode: vertical-rl;
}
.articles li {
  overflow: hidden;
  position: absolute;
  border: 1px solid #ddd;
}
.articles li:hover {
  background: #ccc;
  cursor: move;
}
.articles li h2 {
  line-height: 1em;
  font-size: 20px;
  margin: 10px;
}
.articles li h2.reverse {
  display: inline;
  padding: 3px;
  background: black;
  color: white;
}
.articles li img {
  width: 260px;
}
.articles li p {
  font-size: 15px;
  word-break: break-word;
  width: 100%;
  float: left;
  border-bottom: 1px solid #ccc;
}
.articles li p:last-child {
  border-bottom: none;
}
.articles li:nth-child(1) p { height: calc(100% / 4 - 1px) }
.articles li:nth-child(2) p { height: calc(100% / 5 - 1px) }
.articles li:nth-child(3) p { height: calc(100% / 3 - 1px) }
.articles li:nth-child(4) p { height: calc(100% / 1 - 1px) }
.articles li:nth-child(5) p { height: calc(100% / 1 - 1px) }
.articles li:nth-child(1) {
  left: calc(100% / 7 * 3)!important;
  top: calc(100% / 8 * 1)!important;
  width: calc(100% / 7 * 4);
  height: calc(100% / 8 * 4);
}
.articles li:nth-child(2) {
  left: calc(100% / 7 * 0)!important;
  top: calc(100% / 8 * 1)!important;
  width: calc(100% / 7 * 3);
  height: calc(100% / 8 * 5);
}
.articles li:nth-child(3) {
  left: calc(100% / 7 * 3)!important;
  top: calc(100% / 8 * 5)!important;
  width: calc(100% / 7 * 4);
  height: calc(100% / 8 * 3);
}
.articles li:nth-child(4) {
  left: calc(100% / 7 * 0)!important;
  top: calc(100% / 8 * 6)!important;
  width: calc(100% / 7 * 3);
  height: calc(100% / 8 * 1);
}
.articles li:nth-child(5) {
  left: calc(100% / 7 * 0)!important;
  top: calc(100% / 8 * 7)!important;
  width: calc(100% / 7 * 3);
  height: calc(100% / 8 * 1);
}
.articles li:nth-child(6) {
  left: calc(100% / 7 * 0)!important;
  top: calc(100% / 7 * 0)!important;
  width: calc(100% / 7 * 7);
  height: calc(100% / 8 * 1);
}


/* footer */
.footer {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.footer #ss{
  width: 100%;
  height: auto;
  border: 1px solid #000;
  display: none;
}

/* Editor Modal */
.modal {
  display: none;
  width: 800px;
  height: 80%;
  position: fixed;
  top: 30px;
  left: 50%;
  margin-left: -400px;
  background: #fff;
  z-index: 1000;
  padding: 30px;
  padding-top: 10px;
  border-radius: 5px;
}

/* model header */
.modal .modal-header {
  margin: 10px;
  padding: 0px;
  text-align: center;
}
.modal .modal-header .update {
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: 13px;
  cursor: pointer;
  padding: 5px;
}
.modal .modal-header .update:hover {
  background: rgba(240, 240, 240, .8);
}

/* modal preview */
.modal .preview {
  height: 400px;
  overflow: scroll;
  position: relative;
}
.modal .preview .confirmation {
  text-align: center;
  width: 100%;
  height: auto;
}
.modal .preview .confirmation img{
  width: 100%;
  height: auto;
  border: 2px solid #ccc;
}

/* modal edit */
.modal .edit {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
}


/* Overlay */
.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(0,0,0,0.5);
}

/* Loading Img */
.loading {
  width: 50px;
  height: 50px;
  display: none;
  position: fixed;
  top: 200px;
  left: 50%;
  margin-left: -25px;
  opacity: .8;
  z-index: 1100;
}