<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>NewsPagerGene</title>
  <style type="text/css">
  <%- preview %>
  </style>
</head>

<body style="background:#eee;">
    <div style="position:relative;margin:20px auto;height: <%= height %>px;width: <%= width %>px">
        <%- html %>
    </div>
</body>
</html>